
*{
  box-sizing: border-box;
}

body{
  font-family: "Fira Sans", sans-serif; /*esto es para que si no carga la tipografia roboto me cargue la sans-serif*/
  background-image: url("../images/colorclaro.jpg");
  background-color: rgba(75,145,214,0.11);
  background-size:cover;

}
ul,
ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit; /*esto significa que esta heredando el color de su padre*/
  display: inline-block; /*para que tome los margenes y no ocupe todo el ancho, esto lo uso por default*/
}

img{
  width: 100%;/*para que tenga el ancho de us contenedor*/
}

/*--------hasta acá es el seteo de los estilos de la pagina-------------*/

.card-faq{
  width: inherit;
}
.faq-cuerpo{
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(75,145,214,0.11);
  background-size:cover;
}

.faq-tema{
  margin-top: 15px;
}

.faq-tema h4{
  color: #000;
}

.faq-pregunta-contenedor{
  background-size:cover;
  background-color: rgba(207,23,81);
  padding: inherit;
  width: 100vw;
}

.faq-pregunta{
  background-size:cover;
  width: 100%;
  color: #fff;
  text-align: left;
  margin: 0;
 }

 .faq-pregunta:hover{
   color: rgb(75,209,182);
 }

.faq-respuesta{
  color: #000;
  text-align: left;
}
.faq-respuesta li{
  list-style: initial;
  margin-left: 2%;
}

.faq-respuesta a {
  margin: 0;
  padding: 0;
  display: inline-block;
}
