body {
  font-family:'Fira Sans', sans-serif;;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  /*background-color: #4bd1b6;*/
  background-image: url("../images/mi-fondo-login.jpg");
  background-size: cover;
  background-color: gray;
  overflow: auto;
  /*gg, vvv, vvvvv*/
}

strong {
  font-weight: 500;
}

a, a:hover, a:focus {
  text-decoration: none;
}


h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  line-height: 50px;
  color: #82E0AA;
}

h3 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  line-height: 50px;
  color: black;
}

h6 {
  font-size: 22px;
  font-weight: 300;
}

.container {
  /*border: 3px solid black;*/
  overflow: hidden;
}

.mi-contenedor {
  padding: 0px 0 0px 0;
  overflow: hidden;
    /*background-color: white;*/
}

.mi-contenedor .mis-descripciones {
  margin: 20px 0 10px 0;
}

.mi-contenedor .mis-descripciones p {
  /*opacity: 0.8;*/
  color: #4bd1b6;
  padding: 0;
  margin: 0;
}

.mi-form-contenedor {
  /*border: 3px solid blue;*/
  margin-top: 15px;
}

.mi-cabecera-form {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #F52854;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid white;
}


.mi-contenido-izquierdo {
  float: left;
  width: 75%;
  padding-top: 10px;
  text-align: left;
}

.mi-contenido-izquierdo a {
  /*margin-left: 5px;*/
  margin-right: 5px;
  color: white;
}


.mi-contenido-izquierdo p {
  opacity: 0.8;
}

.mi-contenido-derecho {
  float: right;
  width: 25%;
  padding-top: 25px;
  font-size: 66px;
  text-align: right;
  opacity: 0.3;
}


.mi-principal-form {
  padding: 25px 25px 25px 25px;
  background: #F42450;
  opacity: 0.9;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
}

.mi-principal-form .mi-boton {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.fa-user-circle {
  color: white;
}

.mi-boton-redsocial {
  color: white;
}

.mi-boton-redsocial  i {
  font-size: 200%;
}

.mi-boton-redsocial:hover {
  color: #7D3C98;
  font-size: 15px;
}

.mis-redes-sociales p {
  color: black;
}

input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
  height: 50px;
  vertical-align: middle;
  background: #fff;
  border: 3px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
  background: #fff;
  border: 2px solid #1AAE88;
}

.mi-sidebar{
  background: #42CFA0;
  /*border: 3px solid black;*/
  width: 40px;
  height: 200px;
  position: fixed;
  top: 30%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.list-inline li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 100%;
  overflow: hidden;
}


.list-inline li a i {
    margin-top: 10px;
    padding-right: 10px;
}

.mi-footer {
    background: black;
    height: 50px;
}


.list-inline i:hover {
  color: black;
  font-size: 15px;
}

.mi-texto-footer {
  padding-top: 20px;
}


.mi-check {
  padding-top: 9px;
}
